* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg-color: #212529;
	--border-color1: #8a2be2;
	--font-color: #f1f5f9;
	--border-color2: #26834a;
	--primary-color: #4dff91;
}
body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: 'Ubuntu', sans-serif;
}
header {
	padding: 2rem 0;
}
header h1 {
	margin-bottom: 1rem;
	font-family: 'MedievalSharp', cursive;
	font-size: 4rem;
	text-align: center;
}
header label {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
header input {
	width: 220px;
	height: 40px;
	margin-bottom: 1rem;
	text-align: center;
	background-color: transparent;
	border: 2px solid var(--border-color1);
	border-radius: 4px;
	color: var(--font-color);
	font-size: 1rem;
}

header button {
	padding: 1rem 2rem;
	font-family: 'MedievalSharp', cursive;
	font-size: 1.5rem;
	background-color: transparent;
	border: 2px solid var(--border-color1);
	border-radius: 10px;
	color: var(--font-color);
	cursor: pointer;
	transition: 1s;
}
header button:hover {
	background-color: var(--border-color2);
	border-color: var(--font-color);
}

h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
p {
	color: #4dff91;
	text-align: center;
}

main {
	display: block;
	max-width: 40rem;
	position: relative;
	padding: 0 1.5rem 2.5rem;
	margin: 0 auto;
}
.ttt-field {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 2rem 0;
}

.ttt-field input {
	background-color: transparent;
	cursor: pointer;
	font-size: 1.5rem;
	padding: 1rem;
	max-width: 200px;
	min-width: 100%;
	border: 2px solid var(--primary-color);
	text-align: center;
}
.ttt-field input:focus {
	outline: none;
}

section button {
	margin-top: 1rem;
	padding: 1rem 2rem;
	font-family: 'MedievalSharp', cursive;
	font-size: 1.5rem;
	background-color: transparent;
	border: 2px solid var(--border-color1);
	border-radius: 10px;
	color: var(--font-color);
	cursor: pointer;
}
.winner {
	background-color: var(--border-color2) !important;
	color: var(--font-color) !important;
}
.player1 {
	color: #ff0000;
}

.player2 {
	color: #0000ff;
}

@media (max-width: 360px) {
	header h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 1.5rem;
	}
}
.flex {
	display: flex;
}
.flex-column {
	flex-direction: column;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}
